:root {
  --dark-green: #083F34;
  --green: rgb(104, 153, 87);
  --black: rgb(50,50,50);
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
}

.App {
  background: var(--dark-green);
  min-height: 100vh;
  display: flex;
}

.Sidebar {
  width: 10vw;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 2rem;
}

.Sidebar h1 {
  font-weight: normal;
  width: 100%;
  text-align: center;
  color: var(--green);
}

.Sidebar a, .Sidebar a:visited {
  color: white;
  text-decoration: none;
  margin: 0.5rem 0;
  padding: 0.5rem;
}

.Sidebar a:hover {
  color: var(--green);
}

.Sidebar .active {
  background: rgba(104, 153, 87, 0.2);
  width: 100%;
  border-radius: 20px;
}

.FindBike, .RentBike, .Messages {
  width: 30vw;
  height: 100%;
  background: white;
  color: black;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  padding: 2rem;
  overflow: hidden;
}

.FindBike h1, .RentBike h1, .Messages h1 {
  font-weight: normal;
}

.FindBike h2, .RentBike h2 {
  font-weight: normal;
}

.FindBike h5, .RentBike h5 {
  font-weight: normal;
  margin: 0;
}

.Filters {
  display: flex;
  flex-direction: column;
}

.Filters input, .RentBike input {
  background-color: rgba(104, 153, 87, 0.25);
  border: none;
  border-radius: 10px;
  padding: 0.25rem;
  margin: 0.1rem 0;
}

.ResultPreview {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid rgba(104, 153, 87, 0.25);
  margin: 1rem 0;
  padding: 0.25rem;
  border-radius: 10px;
  cursor: pointer;
  transition: all 100ms;
}

.ResultPreview:hover {
  background-color: rgba(104, 153, 87, 0.1);
}

.ResultPreview h1 {
  font-weight: normal;
  font-size: medium;
}

.ResultPreview .downArrow {
  width: 1.5rem;
  height: 1.5rem;
}

.Result {
  display: flex;
  justify-content: space-between;
  border: 1px solid rgba(104, 153, 87, 0.25);
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 10px;
}

.bike-image {
  width: 8rem;
  height: 8rem;
  object-fit: contain;
}

.Result h1, .RentBikeResult h1 {
  font-size: large;
  font-weight: bold;
}

.result-info {
  width: 100%;
  margin: 0 1rem;
}

.result-info-limit {
  margin-right: 1rem;
}

.Directions {
  position: absolute;
  top: 4rem;
  right: 1rem;
  background: rgba(255, 255, 255, 0.75);
  padding: 1rem;
  border-radius: 10px;
}

.Directions h1 {
  font-size: medium;
  color: black;
  font-weight: bold;
}

.Directions {
  font-size: small;
  z-index: 1;
}

.estimatedMinutes {
  width: 100%;
  text-align: right;
  font-weight: bold;
  color: var(--green);
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 10px;
  padding: 0.5rem 0.1rem;
}

.directions-from-to {
  background-color: rgba(104, 153, 87, 0.4);
  padding: 1rem;
  border-radius: 10px;
}

.directions-steps {
  background: rgba(255, 255, 255, 0.75);
  padding: 1rem 2rem;
  border-radius: 10px;
}

.btn {
  border-radius: 10px;
  border: 1px solid;
  padding: 0.25rem 0.5rem;
  margin: 0.5rem 0;
  cursor: pointer;
  background: var(--black);
  color: white;
  transition: all 100ms;
}

.btn:hover {
  background: white;
  color: var(--black);
}

.RentBikeResult {
  border: 1px solid rgba(104, 153, 87, 0.25);
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 10px;
}

.RentBikeResult p {
  margin: 0.25rem 0;
}

.result-info-status {
  background: rgba(104, 153, 87, 0.25);
}

.map-container {
  position: relative;
  width: 50vw;
  height: 100vh;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}

.Login, .Register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.auth-form input {
  padding: 0.5rem 0.25rem;
  border-radius: 20px;
  border: 1px solid silver;
  width: 15rem;
  margin: 0.5rem 0;
}

.auth-form .btn {
  width: 5rem;
  align-self: center;
}

.Login .logo, .Register .logo {
  width: 10rem;
}

.logo-name {
  position: absolute;
  left: 2rem;
  top: 0;
  font-size: 2rem;
  font-weight: normal;
  color: var(--green);
}